###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/.env.dev
/.env.*

/config/secrets/
/secrets/
/bundles/
credentials.json

/assets/vendor/
/assets/plugins/
/vendor/

/var/
/node_modules/



/public/tokens
/public/uploads/*/.cache/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/bundles/
/public/assets/
/public/uploads/
###< symfony/asset-mapper ###

###> league/oauth2-server-bundle ###
/config/jwt/*.pem
###< league/oauth2-server-bundle ###

###> clé publique SSH pour dépôt Git ###
/src/id_ed25519.pub
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
