/* Style for the dashboard home page */
.content_dashboard {
    margin: auto 10vw;
    margin-top: 10rem;
}
.update-content {
    border: 1px solid aliceblue;
    box-shadow: 0 0 4px 4px rgba(146, 145, 145, 0.25);
    border-radius: 10px;
    padding: 25px;
}

.card-profile {
    box-shadow: var(--box-shadow-card); 
}
a, a:hover, a:active, a:visited, a:focus{
    color: black!important;
    text-decoration: none!important;
}
/* PROFILE USER */
.profile-picture{
    max-width: 20vw;
    max-height: 27vh;
    min-width: 10vw;
    min-height: 17vh;
    object-fit: fill;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .content_dashboard {
        margin: auto 1vw;
    }
}